.profile{
    background-color: #2196f3;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 50px 0;
}
.back{
    float: none;
    margin-left: 0px;
}
.back button{
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    top:35px;
    border-radius: 5px;
    font-size: 20px;
    transition: .3s all;
}
.edit-profile button{
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    top:35px;
    border-radius: 5px;
    font-size: 20px;
    transition: .3s all;
}
.edit-profile button a{
    text-decoration: underline;
    padding: 8px 12px;
    color: #000;
}
.edit-profile button:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);
}
.back button:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);
}
.container-profile{
    width: 820px;
    background-color: #fff;
    border-radius: 8px;
}
.container-top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
}
.container-top > div:nth-child(2){
    width: 50%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.container-top > div:nth-child(2) h2{
    font-size: 35px;
    font-weight: normal;
}
.container-top > div:nth-child(2) span{
    display: flex;
    color: rgb(124, 124, 124);
}
.container-top > div:nth-child(2) span p{
    font-size: 18px;
}
.container-bottom > h2{
    text-align: center;
    font-size: 15px;
    color: rgb(124, 124, 124);
    margin: 15px 0;
}
.content-bottom{
    display: flex;
}
.content-bottom > div {
    margin: 5px 25px;
}
.content-bottom > div:nth-child(1){
    border-right: 1px solid #ddd;
    width: 100px;
}
.content-bottom > div h2{
    font-size: 18px;
    margin: 10px 0;
}