.container{
    overflow: hidden;
    position: relative;
}
.container .wave{
    position: absolute;
    bottom: -33px;
    left: 0;
    width: 100%;
    height: 60px;
    background: url('../../assets/wave.png');
    background-size: 1000px 100px;
}
.container .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
}
.container .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: .5;
    animation-delay: -5s;
}
.container .wave.wave3{
    animation: animate 15s linear infinite;
    z-index: 998;
    opacity: .2;
    animation-delay: -5s;
}
@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}
.content-form{
    width: 550px;
    margin: 20px auto;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    padding: 10px;
    animation: fade 500ms;
    border-radius: 6px;
}
@keyframes fade{
    from{
        opacity: 0;
        transform: scale(.8);
    }to{
        opacity: 1;
        transform: scale(1)
    }
}
@keyframes nono{
    0%{
      transform: translateX(0);
    }
    35%{
      transform: translateX(-15%);
    }
    70%{
      transform: translateX(15%);
    }
    100%{
      transform: translateX(0%);
    }
}
.form-register.nono{
    animation: nono 400ms linear, fade paused;
    animation-iteration-count: 2;
}
.content-form h1{
    text-align: center;
    font-weight: normal;
    padding: 8px 0;
}
.form-register input{
    display: block;
    outline: none;
    margin: 8px auto;
    text-align: left;
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid #52c8fa;
    width: 90%;
    transition: .7s ease;
}
.form-register input:focus{
    border-color: #2196f3;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgba(76, 161, 175, 0.5); */
}
.form-register button{
    display: block;
    width: 60%;
    padding: 12px 8px;
    border: none;
    border-radius: 25px;
    text-align: center;
    background-color:#52c8fa;
    cursor: pointer;
    color:#fff;
    font-size: 18px;
    margin: 10px auto;
}
.form-register input:nth-child(1){
    animation: move 500ms;
}
.form-register input:nth-child(2){
    animation: move 500ms;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}
.form-register input:nth-child(3){
    animation: move 500ms;
    animation-delay: 400ms;
    animation-fill-mode: backwards;
}
.form-register input:nth-child(4){
    animation: move 500ms;
    animation-delay: 600ms;
    animation-fill-mode: backwards;
}
.form-register input:nth-child(5){
    animation: move 500ms;
    animation-delay: 800ms;
    animation-fill-mode: backwards;
}
.form-register input:nth-child(6){
    animation: move 500ms;
    animation-delay: 1000ms;
    animation-fill-mode: backwards;
}
.form-register input:nth-child(7){
    animation: move 500ms;
    animation-delay: 1200ms;
    animation-fill-mode: backwards;
}
.form-register input:nth-child(8){
    animation: move 500ms;
    animation-delay: 1400ms;
    animation-fill-mode: backwards;
}
.form-register input:nth-child(9){
    animation: move 500ms;
    animation-delay: 1600ms;
    animation-fill-mode: backwards;
}
.form-register input:nth-child(10){
    animation: move 500ms;
    animation-delay: 1800ms;
    animation-fill-mode: backwards;
}
.form-register input:nth-child(11){
    animation: move 500ms;
    animation-delay: 2000ms;
    animation-fill-mode: backwards;
}
.form-register button{
    animation: up 1000ms;
    transition: .7s all;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(200px);
    }to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes move{
    from{
        opacity: 0;
        transform: translateX(-30%);
    }to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.form-register button:hover{
    background-color: #2196f3;
}
.coordinate{
    /*pointer-events: none;*/
}
.termos{
    margin: 20px 0 0 0;
}
.termos > div:nth-child(1){
    text-align: center;
    display: block;
}
.termos > div:nth-child(1){
    margin: 10px 0;
}

.error{
    color: red;
}
.modal{
    background-color: seagreen;
    padding: 5px 12px;
    color:#fff;
    text-align: center;
}