aside{
    width:320px;
    flex-direction: column;
}
aside img{
    box-shadow: -7px 0px 11px rgba(0,0,0,.4)
}
.container-logged{
    background-color: #fff;
    display: grid;
    grid-template-columns:2fr 4fr 4fr;
    grid-template-areas:"a b b"
                        "a c d"
                        "a c d";
    grid-template-rows: 7vh 85vh 10vh;
    margin-bottom: 50px;
}

.grid {
    grid-area: a;
    width: 100%;
    height: 100%;
    background-color: white;
}
.open-config{
    display: none;
}
.items{
    width:100%;
    display: flex;
    align-items: center;
    padding: 22px;
    color: #0d9ddb;
    border-bottom: 1px solid #ccc;
    transition: .3s all;
    background-color: white;
}

.items span{
    margin-left: 20px;
    text-transform: uppercase;
}
.config label{
    display: block;
    margin-left: 20px;
    text-transform: uppercase;
}
.items:hover{
    background-color: #e3e5e8;
}
.items:nth-child(6){
    background-color:white;
    border-bottom: none;
}
.hidden{
    display: none;
}
.click{
    cursor: pointer;
}
.info-config{
    height: 0px;
    display: none;
    transition: .4s all;
    margin-left: 40px;
}
.info-config a{
    display: block;
    padding: 8px 12px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    width:100%;
    opacity: 0;
    transition: opacity 1s all;
    color:#0d9ddb;
    transition: .4s all;
}
.info-config a:hover{
    background-color: #0d9ddb;
    color:#fff;
}
input:checked ~ .info-config{
    display: block;
    height: 130px;
}
input:checked ~ .info-config a{
    opacity: 1;
}
.logout span{
    width: 80%;
    color:#fff;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color: #0d9ddb;
}

.menu-logado {
    background-color: #0d9ddb;
    height: 100px;
    width: 100%;
    align-content: center;
    grid-area: b;
}
.menu-logado table {
    font-family: arial, sans-serif;
    width: 100%;
    height: 100%;
    border: none;
}
.menu-logado th {
    text-align: left;
    padding: 8px;
    text-align: center;

}
.menu-logado span {
    font-size: 45px;
    color: white;
}

.espera {
    grid-area: c;
    background-color: rgba(255, 255, 255, 1);
    border-right: 1px solid #ddd;
    border-width: 1px;
    margin-top: 10%;
    text-align: center;
    color: #ddd;
    font-size: 30px;
}

.atendimento {
    grid-area: d;
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    text-align: center;
    color: #ddd;
    font-size: 30px;
}