@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
* {
    /* Deixar tela inteira */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: unset;
}

html,
body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.patrocinios {
    width: 100%;
    /* position: absolute; */
    /* margin-top: 660px; */
    text-align: center;
}

.patrocinios ul li {
    display: inline-block;
    padding: 0px 63px;
}

.tituloPatrocinio {
    transition: .3s ease-in;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 80px;
    color: #7a7a7a;
}


/* media queries */

@media (max-width: 1300px) {
    .patrocinios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 0;
    }
    .tituloPatrocinio {
        width: 100%;
        /* color: #fff; */
    }
    .patrocinios ul li {
        padding: 0;
    }
    .patrocinios ul li img {
        width: 70%;
    }
}

@media (max-width: 1050px) {
    .patrocinios {
        width: 75%;
    }
    .patrocinios ul li {
        padding: 0px 10px;
    }
}

@media (max-width: 900px) {
    .patrocinios {
        flex-direction: column;
    }
    .patrocinios ul {
        display: flex;
        flex-direction: column;
    }
    .patrocinios ul li .pat-respon {
        width: 55%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media (max-width: 1690px) {
    .patrocinios ul li {
        padding: 0 25px;
    }
    .patrocinios ul li img {
        width: 75%;
    }
}